<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get CRUD</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        .btn-edit,
        .btn-delete {
            background: orange;
            outline: none;
            border: none;
            height: 25px;
            width: 60px;
            cursor: pointer;
            border-radius: 4px;
            display: inline-block;
            text-decoration: none;
            color: black;
            font-size: 14px;
            line-height: 25px;
            text-align: center;
        }
        .btn-delete {
            background: #ff0033;
        }
        </style>
</head>
<body>
    <table>
        <tr>
            <th>Email</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        <% for(let i = 0; i < data.length; i++) { %>
            <tr>
                <td><%= data[i].email%></td>
                <td><%= data[i].firstName%></td>
                <td><%= data[i].lastName%></td>
                <td><%= data[i].address%></td>
                <td>
                    <a class="btn-edit" href="/edit-crud?id=<%= data[i].id %>">Edit</a>
                    <a class="btn-delete" href="/delete-crud?id=<%= data[i].id %>">Delete</a>
                </td>
            </tr>
        <% } %>
      </table>
</body>
</html>